*{
	padding: 0;
	margin: 0;
	border: 0;
	text-decoration: none;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

:root{
	--boss: rgb(160, 160, 160);
	--colors: rgb(210, 198, 198);
} 

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

html{
	scroll-behavior: smooth;
}
@font-face {
	font-family:'Fred';
	src: url('../fonts/KaushanScript-Regular.ttf');
}
@font-face{
	font-family:'Josef';
	src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}
@font-face{
	font-family:'Londrina';
	src: url('../fonts/LondrinaSketch-Regular.ttf');
}
@font-face{
	font-family:'Neon';
	src: url('../fonts/Neonderthaw-Regular.ttf');
}
@font-face{
	font-family:'Splash';
	src: url('../fonts/Splash-Regular.ttf');
}
@font-face{
	font-family:'Carter';
	src: url('../fonts/CarterOne-Regular.ttf');
}

body{
	color: #fff;
	font-family:'Carter';
	background: linear-gradient(to top right, rgb(178, 161, 235), #f79b9b);
}
body::-webkit-scrollbar {
	width: 12px;


  }
  
  body::-webkit-scrollbar-thumb {
	background-color: var(--boss); /* Цвет ползунка */
	border-radius: 5px;
	border: 2px solid var(--colors);
	
  }
  
  body::-webkit-scrollbar-thumb:hover {
	background-color: #333; /* Цвет ползунка при наведении курсора */
  }
  
  
  /* Стилизация трека скролла (для Chrome, Safari и Edge) */
  body::-webkit-scrollbar-track {
	background-color: var(--colors); /* Цвет трека */
	
  
  }
  
 body::-webkit-scrollbar-track:hover {
	 /* Цвет трека при наведении курсора */
  }

/*............Loader Start.................*/
.mask{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	z-index: 1000;
	opacity: 90%;
	position: fixed;
	background-color: #010000e1;
	top: 0;
	height: 100%;
	width: 100%;
	transition: 0.6s;
	animation: loader 2s linear infinite;
}
.loading{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background: #fff; */
    perspective: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
	transition: 0.6s;
}
.loading__item{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.loading__item:nth-child(1){
    border-bottom: 8px solid #2b32ff;
    transform: rotateX(35deg) rotateY(-45deg);
    animation: ukraine-one 1s linear infinite;
}
.loading__item:nth-child(2){
    border-right: 8px solid #fae609;
    transform: rotateX(50deg) rotateY(10deg);
    animation: ukraine-two 1s linear infinite;
}
.loading__item:nth-child(3){
    border-top: 8px solid #2b32ff;
    transform: rotateX(35deg) rotateY(55deg);
    animation: ukraine-three 1s linear infinite;
}
.loading__item:nth-child(4){
    border-top: 8px solid #fae609;
    transform: rotateX(50deg) rotateY(-15deg);
    animation: ukraine-four 1s linear infinite;
}
.loading__img{
    width: 30px;
    position: absolute;
    z-index: -1;
    opacity: 90%;
    animation: logo 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite alternate;
}
@keyframes logo{
    from{
        opacity: 20%;
        transform: scale(0.7);
    }
    to{
        transform: scale(1.1);
    }
}

@keyframes ukraine-one{
    to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes ukraine-two{
    to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes ukraine-three{
    to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
@keyframes ukraine-four{
    to {
        transform: rotateX(50deg) rotateY(-15deg) rotateZ(360deg);
    }
}


.hide{
	opacity: 0;
}
/*............Loader End.................*/

/*............Header Start.................*/
.header{
	position: fixed;
	width: 100%;
	top: 0;
	padding: 10px 0;
	font-family: serif;
	z-index: 100;
	transition: all 0.3s;
	
}
.header.sticky{
	background: var(--boss);
	z-index: 10;
	padding: 5px 0;
}
.header__body {
	max-width: 1250px;
	padding: 0 80px;
	margin: 0 auto; 
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header .logo a{
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
	position: relative;
	bottom: 5px;
	text-shadow: 0px 2px 2px #00000091;
}
.header .logo a span{
	font-size: 47px;
	text-transform: uppercase;
	position: relative;
	top: 5px;
	color: var(--boss);
	
}
.header.sticky .logo a span{
	color: #fff;
	transition: all 0.3s ease;
}
.header .menu li{
	list-style: none;
	display: inline-block;
	
}
.header .menu li a{
	color: #fff;
	font-size: 20px;
	padding: 5px 10px;
	font-family:'Londrina';
	letter-spacing: 2px;
	transition: 0.4s ease 0s;
	margin-left: 25px;
	position: relative;
	text-shadow: 0px 2px 2px #00000091;
} 
.header .menu li a::after{
	content: '';
	width: 5%;
	height: 0;
	background: rgb(228, 228, 228);
	position: absolute;
	left: 0%;
	bottom: 0;
	transition: 0.4s;
	border-radius: 5px;
	
	
}
.header .menu li a:hover::after{
	height: 100%;

}

.header .menu li a::before{
	content: '';
	width: 5%;
	height: 0;
	background: rgb(228, 228, 228);
	position: absolute;
	right: 0%;
	top: 0;
	transition: 0.4s;
	border-radius: 5px;
	
	
}
.header .menu li a:hover::before{
	height: 100%;

}

.header .menu li a:hover{
	z-index: 3;
} 
.menu__btn{
	color: #181818;
	font-size: 30px;
	cursor: pointer;
	display: none;
}
.menu__logo{
	color: #181818;
	font-size: 40px;
	cursor: pointer;
	display: none;
}
label{
    position: fixed;
	margin-left: 140px;
    width: 33px;
    height: 33px;
    cursor: pointer;
    border-radius: 50%;
}
label.sticky{
	padding: 5px 0;
}
label .btn.change-theme {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #3d3d3d;
    box-shadow: 0 3px 4px rgba(0,0,0,1),
                inset 0 -2px 5px rgba(0,0,0,1),
                inset 0 2px 2px rgba(255,255,255,0.5),
                0 0 0 2px #000,
                0 0 0 5px #0c0c0c,
                0 0 0 5.5px #080808;
                transition: all 0.2s;
}
label input[type="checkbox"]:checked ~ .btn.change-theme{
    box-shadow: 0 0 0 rgba(0,0,0,1),
                inset 0 -2px 5px rgba(0,0,0,1),
                inset 0 1px 1px rgba(255,255,255,0.1),
                0 0 0 2px #000,
                0 0 0 5px #0c0c0c,
                0 0 0 5.5px #34b4ff54;
}
label input[type="checkbox"]{
    -webkit-appearance: none;
}
label span .fa-power-off{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #0c0c0c;
}
label input[type="checkbox"]:checked ~ span .fa-power-off{
    color: #00ffe7;
    text-shadow: 0 0 10px #00a1ff,
                 0 0 30px #00a1ff;
}
/*............Header End.................*/

/*............FullScrin Start.................*/

.fullscrin {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top right, rgb(178, 161, 235), #f79b9b);
	transition: all 0.3s;
	position: relative;

}
.full__container{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to top right, rgb(178, 161, 235), #f79b9b);
	
	
}
.container__wrapper{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: space-between;

	max-width: 1250px;
	padding: 0 80px;
	margin: 0 auto;
	margin-top: 25px;
	position: relative;
}
/*............Photo Container Start.................*/
.container-right {
	z-index: 1;
	width: 50%;

	display: flex;
	justify-content: right;
	
}
.container-right  .photo {
	width: 500px;
	height: 500px;
	background: rgba(255, 255, 255, 0.05);
	margin-left: 100px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	backdrop-filter: blur(10px);
	cursor: pointer;

}
.container-right .photo .cont {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.4s;

}
.container-right .photo:hover .cont{
	opacity: 1;
	transform: translateY(-20px);
}
 .img-box {
	position: relative;
	margin-top: 30px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
	background-image: url(../img/photo2.jfif);
	background-size: 110%;
	background-position: 55% 70%;
	border: 10px solid rgba(119, 119, 119, 0.25);
}

.container-right  .photo .cont .content-box h4 {
	color: #fff;
	text-shadow: 0 0 4px #000;
	letter-spacing: 1px;
	font-family:'Splash';
	font-weight: 500;
	font-size: 24px;
	text-align: center;
	margin: 10px 0 10px;
	text-transform: initial;
}
.container-right .photo .sci {
	justify-content: center;

	bottom: 30px;
	display: flex;
	overflow: hidden;
}
.container-right .photo .sci li{
	list-style:none;
	margin: 0 10px;
	transform: translateY(20px);
	transition: 0.4s;
	opacity: 0;
	transition-delay: calc(0.1s * var(--i)) ;
}
.container-right .photo:hover .sci li{
	transform: translateY(0px);
	opacity: 1;
}
.container-right .photo .sci li a{
	color: #fff;
	text-shadow: 0px 2px 2px #00000091;
	font-size: 31px;
	transition: 0.3s;
}
.container-right .photo .sci li a:hover {
	text-shadow: none;
	transition: 0.3s;
}
.container-right .photo .sci li .box__insta:hover{
	color: #fa1717;
}
.container-right .photo .sci li .box__telegram:hover{
	color: #009cc4;
}
.container-right .photo .sci li .box__facebook:hover{
	color: #1e2a6d;
}
.container-right .photo .sci li .box__linkedin:hover{
	color: #080808;
}
/*............Photo Container End.................*/

/*............Title Start.................*/
.container-left{
	padding: 30px 0;
	
}
.container-left__title{
	display: flex;
}
.text-1{
	font-size: 27px;
	font-family: 'Fred';
	text-shadow: 0px 2px 2px #00000091;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
	font-family:'Neon';
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 1px;
    transition: 2s;
    cursor: pointer;
	text-shadow: 0px 2px 2px #00000091;
}
h1:before{
    content: attr(data-content);
	line-height: 72px;

	position: absolute;
	transform-origin: bottom;
    background: linear-gradient(0deg, rgb(255, 255, 255), transparent 55%);
    -webkit-background-clip: text;
	transform: rotateX(180deg);
    color: transparent;
    opacity: 20%;
    text-shadow: 0 0 10px rgb(0, 0, 0), 
    0 0 10px rgba(0, 0, 0, 0),
    0 0 20px rgba(0, 0, 0, 0);
    transition:  0.6s;
} 
h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:'Neon';
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 2px;
	transition: 2s;	
    cursor: pointer;
	text-shadow: 0px 2px 2px #00000091;
}
h2:before{
    content: attr(data-content-2);
	position: absolute;
	transform-origin: bottom;
	transform: rotateX(180deg);
    line-height: 72px;
    background: linear-gradient(0deg, rgb(255, 255, 255), transparent 55%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 20%;
    text-shadow: 0 0 10px rgb(0, 0, 0), 
    0 0 10px rgba(0, 0, 0, 0),
    0 0 20px rgba(0, 0, 0, 0);
    transition: 0.6s;
} 
h1:hover{
	color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 216, 41),
    0 0 10px rgb(255, 216, 41),
    0 0 15px rgb(255, 216, 41);
	
}
h2:hover{
	color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(255, 216, 41),
    0 0 10px rgb(255, 216, 41),
    0 0 15px rgb(255, 216, 41);
	
}
.glow{
	transition: 2s;
}
/*............Title End.................*/


/*............Static Card Start.................*/
.static__card{	
	position: relative;
	background: rgba(139, 105, 126, 0.486);
	transform: scale(1);
	transition: all 0.2s ease 0s;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.007),
      0px 0px 7.2px rgba(0, 0, 0, 0.048), 0px 0px 13.6px rgba(0, 0, 0, 0.055),
      0px 0px 24.3px rgba(0, 0, 0, 0.055), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
      0px 0px 109px rgba(0, 0, 0, 0.048);
	border-radius: 15px;
	width: 420px;
	height: 250px;
	backdrop-filter: blur(10px);
	transition: 0.5s;
	z-index: 1;
	margin-top: 55px;
	padding: 20px;
}
.static__card .static-txt{
    font-size: 35px;
    font-weight: 400;
	font-family: 'Fred';
	text-shadow: 0px 2px 2px #00000091;
	
}
.static__card .static-txt span{
	margin-left: 15px;
	color:#f372a8;
	font-size: 32px;
	
}
h3{
	margin-top: 130px;
	color:#fff;
	
	font-size: 17px;
	font-family:'Josef';
	text-shadow: 0px 2px 2px #00000091;
}  
/*............Static Card End.................*/


/*............Button Start.................*/
.neon{
	overflow: hidden;
	color:#fff;
	position: absolute;
	right: -90px;
	top: 35%;
	font-family:'Josef';
	padding: 17px 22px;
	font-size: 22px;
	z-index: 2;
	letter-spacing: 2px;
	transition: all 0.4s ease;
	text-shadow: 0px 2px 2px #00000091;
	border: 2px solid #fff;
	border-radius: 6px;
}
.neon::before { 
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleY(0);
	transition: all 0.4s ease;
	width: 100%;
	z-index: -1;
	background-color: var(--boss);
  }
.neon:hover{
	transition: all 0.4s ease;
	border: 2px solid var(--boss);
}
.neon:hover::before { 
	transform: scaleY(1);
	
  }
/*............Button End.................*/


/*............Content Start.................*/
.content {
	background: linear-gradient(to top left, rgb(188, 168, 255), #ffaaaa);
	position: relative;
	padding: 40px;
	padding-left: 200px;

	/* overflow: hidden; */
	z-index: 2;
	transition: 0.3s ease;

	
}
.content::before{
	pointer-events: none;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	transform: translate(0px, -100%);
	background: linear-gradient(180deg, rgba(149, 220, 255, 0) 5%, rgba(168, 168, 168, 0.329) 100%) ;
}


/*............Container Projects Start.................*/
.projects__title{
	color: rgb(255, 225, 240);
	margin-top: 65px;
	font-weight: 100;
	font-size: 10px;
	font-family:'Neon';
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 3;
	align-items: center;
	text-shadow: 0px 2px 2px #00000091;
}


.pizza__icons{
	color:#ecb8cc;
	font-size: 21px;
	right: 6px;
	top: -8px;
	position: absolute;
}

.myProject{
	font-size: 37px;
}
@keyframes swing{
	0%{
		transform: rotateZ(13deg);
	}
	100%{
		transform: rotateZ(-13deg);
	}
}



  .contents::-webkit-scrollbar {
	width: 7px;

  }
  
  .contents::-webkit-scrollbar-thumb {
	background-color: #ecb8cc; /* Цвет ползунка */
	border-radius: 5px;
	border: 2px solid #080808;
	
  }
  
  .contents::-webkit-scrollbar-thumb:hover {
	background-color: #de81a5; /* Цвет ползунка при наведении курсора */
  }
  
  
  /* Стилизация трека скролла (для Chrome, Safari и Edge) */
  .contents::-webkit-scrollbar-track {
	background-color: #080808; /* Цвет трека */
	
  
  }
  
  .contents::-webkit-scrollbar-track:hover {
	 /* Цвет трека при наведении курсора */
  }


.contents{
	position: fixed;

	left: -200px;
	top: 0;
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to top left, rgb(188, 168, 255), #ffaaaa);
	width: 140px;
	height: 100%;
	padding: 15px;

	transition: all 0.5s ease-in-out;
	opacity: 0;
}
.contents.sticky{
	opacity: 1;
	z-index: 100;
	left: 0px;
}
.card{
	background-color: #00000080;
	backdrop-filter: blur(10px);
	margin: 20px auto;
	cursor: pointer;
	text-align: center;
  	max-width: 100px;
  	border-radius: 20px;
  	transition: all 0.5s;
	  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13),
	  0 17px 121px rgba(0, 0, 0, 0.075);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), var(--boss));
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    align-items:  center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: all 0.5s;
}
.layer a{
	color: #ff004f;
	text-decoration: none;
	font-size: 17px;
	background: #fff;
	width: 40px;
	line-height: 40px;
	margin: 10px auto;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	transition: all 0.3s;
}
.layer a:hover{
	color: #fff;
	font-size: 17px;
	background: #ff004f;
}
.card:hover {
	transform:scale(1.05);
	
}
.card:hover .layer{
	height: 100%;
	
}
.card__img {
    width: 100%;
	height: 100px;
    border-radius: 10px;
    overflow: hidden;
  	object-fit: cover;
}
.card__title {
    font-size: 13px;
	padding: 0 5px;
	font-family:'Josef';
	text-shadow: 0px 2px 2px #00000091;
}
.card__txt {
	font-size: 10px;
	opacity: 0.8;
	padding: 0 5px;
	color: #000;
	font-family:'Josef';
	order: 1;
	
}

.card__name {
	
    font-size: 14px;
	margin: 0 auto;
	padding: 5px 0;
	font-family: 'Fred';
	text-shadow: 0px 2px 2px #00000091;
	
}
/*............Container Projects End.................*/


/*............Container About Start.................*/
.container__about{
	max-width: 1000px;
	padding: 50px 40px;
	margin: 0px auto;
	margin-bottom: 80px;
	background-color: #ffffff38;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	z-index: 2;

}
.container__row{
	display: flex;
	justify-content: space-between;
	
	align-items: start;

	
}
.about__block-1{
	width: 100%;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about__block-1 img{
	max-width: 550px;
	border-radius: 15px;
}
.about__block-1 button{
	
	font-size: 17px;
}
.about__block-2{
	width: 100%;
	
	/* height: 530px; */
	color: #fff;
	padding: 10px;
	font-family: 'Fred';
	font-weight: 500;
	position: relative;
	font-size: 20px;
	text-shadow: 0px 2px 2px #00000091;
	background-color:#36718125;
	border-radius: 10px;

}
.container__title {
	color: rgb(255, 225, 240);
	text-shadow: 0px 2px 2px #00000091;
	font-weight: 100;
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 70px;
	font-family:'Neon';

	
	z-index: 3;
	position: relative;
}
.myAbout{
	position: relative;
	transform: translateY(40px);
}
.pen__icons{
	color:#dc9cf0;
	position: absolute;
	font-size: 65px;
	top: -50px;
	right: -70px;
} 
.tab-titles{
	display: flex;
	margin: 20px 0 30px;
}
.tab-links{
	margin-right: 30px;
	font-size: 22px;
	font-weight: 500;
	font-family: "Fred";
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background:#009cc4;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	width: 50%;
}
.tab-contents ul li{
	list-style: none;
	margin: 20px 0;
	font-size: 17px;
	font-family:'Josef';
	
}
.tab-contents ul li span{
	color: #367181;
	font-size: 17px;
	text-shadow: none;
	font-weight: 900;
	font-family:'Josef';
	
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}
/*............Container About End.................*/

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
	
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

.slider{
	background-color: #ffffff38;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	max-width: 900px;
	margin: 0px auto;
	margin-bottom: 80px;
	position: relative;
	z-index: 2;
}
.slider__box{
	display: flex;
	align-items: center;
	padding: 80px 20px;
	justify-content: center;

}

.slider__img{
	max-width:260px;
	height: 200px;
	object-fit: cover;
	
}
.slider .slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 10;
	
	transition: 0.6s ;
}
.slider .slick-arrow:active{
	transition: 0.4s ;
	
}
.slider .slick-arrow:hover{
	transform: scale(3.2);
	
}
.slider .slick-arrow.slick-prev {
	left: -50px;

	transform: scale(3);
}
.slider .slick-arrow.slick-next {
	right: -50px;

	transform: scale(3);
}
.slick-dots{
	
	position: absolute;
    bottom: 0;
	transform: translateY(-50px);
  
}
.slider__button{
	width: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	
}
.slider__button .contact__btn{

	margin: 0;
} 
.myBook{
	margin: 0;
	position: relative;
	top: 40px;
	z-index: 3;
}

/*............Container Moments Start.................*/

.container__moments{
	max-width: 800px;
	height: 400px;
	margin: 0px auto;
	margin-top: 150px;
	
	margin-bottom: 80px;
	background-color: #ffffff38;
	backdrop-filter: blur(10px);
	border-radius: 20px;
	font-family: 'Fred';
	z-index: 5;
}
.container__moments .container__txt{
	max-width: 100%;
	color: rgb(255, 225, 240);
	text-shadow: 0px 2px 2px #00000091;
	font-weight: 100;
	top: -50px;
	left: 0px;

	display: flex;
	justify-content: center;
	font-size: 65px;
	position: relative;
	font-family:'Neon';
}




  /* Main heading for inside page */
  .inside-page__heading { 
	color: #cc0791;
	position: relative;
	bottom: 0px;
	top: 75px;
	text-shadow: none;
	font-size: 12px;
	text-align: center;
	text-shadow: none;
	font-family: "Carter";
  }
  
  /* Mixed */
  
  /* For both inside page's main heading and 'view me' text on card front cover */
  .cards-front__text-view {
	font-size: 17px;
	font-weight: 800;
	margin-top: 2px;
  }
  

 .cards-front__text-view{
	color: #5a5a5a;
	text-shadow: none;
	font-family: 'Fred';
 }
  
  /* Front cover */
  
  .cards-front__tp { 
	color: #fafbfa;
	text-shadow: 0px 2px 2px #00000091;
 }
  
  /* For pricing text on card front cover */
  .cards-front__text-price {
	font-size: 19px;
	position: relative;
	top: 6px;
	font-family: 'Fred';
  }
  
  /* Back cover */
  
  /* For inside page's body text */
  .inside-page__text {
	color: #333;
	font-size: 15px;
	font-weight: 900;
	text-align: center;
	width: 100px;
	text-shadow: none;
	position: absolute;
  }
  
  /* Icons ===========================================*/
  
 
  .photo-cards{
	position: relative;
	display: flex;
	height: 105px;
	margin-top: -25px;
	width: 105px;
	border-radius: 50px;
	overflow: hidden;
  }
  .photo-cards img {
	position: relative;
	right: 37px;
	bottom: 16px;
	width: 145px;
	height: 145px;
  }
  
  /* Buttons =================================================*/
  
  
  
  .inside-page__btn-2 {
	cursor: pointer;
	background-color: transparent;
	border: 3px solid;
	border-radius: 10px;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Fred';
	top: 100px;
	overflow: hidden;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
	transition: all .3s ease;
	width: 70%;
	z-index: 10;
	text-shadow: none;
	border-color: #5a5a5a;
	color: #5a5a5a;
  }
  
  .inside-page__btn-2::before { 
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleY(0);
	transition: all .3s ease;
	width: 100%;
	z-index: -1;
	background-color: #5a5a5a;
  }
  .inside-page__btn-2:hover { 
	color: #fafbfa;
  }
  
  .inside-page__btn-2:hover::before { 
	transform: scaleY(1);
  }
  
 
  /* Container to hold all cards in one place */
  .cards-area {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	height: 100%;
	justify-content: space-evenly;
	padding: 15px;
  }
  
  /* Card ============================================*/
  
  /* Area to hold an individual card */
  .cards-section {
	display: flex;
	align-items: center;
	justify-content: center;
	
	
  }
  
  /* A container to hold the flip card and the inside page */
 
  .cards-2 {
	background-color: rgba(0, 0, 0, 0.096);
	box-shadow:  -10px 17px 66px -32px rgba(0,0,0,0.75);
	height: 180px;
	position: relative;
	margin: 0 10px;
	transition: all 1s ease;
	width: 180px;
	border-radius: 10px;
  }
 
  /* Flip card - covering both the front and inside front page */
  
  /* An outer container to hold the flip card. This excludes the inside page */
  .flip-cards {
	height: 240px;
	perspective: 1000px;
	position: absolute;
	right: 0;
	transition: all 1s ease;
	visibility: hidden;
	width: 200px;
	z-index: 100;
  }
  
  /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
  /* This is done so content in the inside page can be selected */
  .flip-cards > * {
	visibility: visible;
  }
  
  /* An inner container to hold the flip card. This excludes the inside page */
  .flip-cards__container {
	height: 100%;
	position: absolute;
	right: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transition: all 1s ease;
	width: 100%;
  }
  
  .cards-front,
  .cards-back {
	backface-visibility: hidden;
	height: 100%;
	left: -5px;
	position: absolute;
	top: 0;
	width: 100%;
	border-radius: 10px;
  }
  
  /* Styling for the front side of the flip card */
  
  /* container for the front side */
  .cards-front {
	background-color: #f0f0f0;
	height: 240px;
	width: 215px;
  }
  /* Front side's top section */
  .cards-front__tp {
	align-items: center;
	clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
	display: flex;
	flex-direction: column;
	height: 180px;
	justify-content: center;
	padding: 8px;
	border-radius: 10px;
  }
  
  .cards-front__tp{
	background: var(--boss)
  }
  
  .book-adaptive{
	width: 100%;
	
		background-color: #fff;
		display: none;
	}
  
  /* Front card's bottom section */
  .cards-front__bt {
	align-items: center;
	display: flex;
	justify-content: center;
  }
  
  /* Styling for the back side of the flip card */
  
  .cards-back {
	background-color: #f0f0f0;
	transform: rotateY(180deg);
  }
  
  /* Specifically targeting the <video> element */
  .video__container {
	clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
	height: 100%;
	object-fit: cover;
	width: 100%;
	border-radius: 10px;
  }
  
  /* Inside page */
  
  .inside-page {
	background-color: #f0f0f0;
	box-shadow: inset 200px 0px 50px -25px rgba(0, 0, 0, 0.534);
	height: 121%;
	padding: 10px;
	position: absolute;
	right: -10px;
	transition: all 1s ease;
	width: 195px;
	z-index: 1;
	border-radius: 10px;
  }
  
  .inside-page__container {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 120%;
	text-align: center; 
	width: 100%;
  }

  
  /* Functionality ====================================*/
  
 
  .cards-2:hover {
	box-shadow:
	-10px 17px 66px -32px rgba(0,0,0,0.75);
	width: 350px;
  }
  
  /* When the card is hovered, the flip card container will rotate */
  .cards-2:hover .flip-cards__container {
	transform: rotateY(-180deg);
	
  }
  
  /* When the card is hovered, the shadow on the inside page will shrink to the left */
  .cards-2:hover .inside-page {
	box-shadow: inset 10px 0px 50px -25px rgba(0,0,0,0.1);
	
  }
  
  
  
/*............Container Moments End.................*/



/*............Container Contact Start.................*/
.contact__block{
	margin: 160px auto 100px;
	position: relative;
	max-width: 1050px;
	padding: 0 80px;

	color: #5a5a5a;
	font-family:'Josef';
}
.contact__row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
	
}
.contact-left{
	position: relative;
	
	
}
.contact-right{	
	flex-basis: 60%;
	
}
.contact-left h2{
	font-size: 55px;
}
.contact-left p{
	margin: 25px 0;
}
.contact-left p i {
	margin-right: 15px;
	color: #03e9f4;
	text-shadow: 0px 2px 2px #00000091;
	font-size: 25px;
}
.social-icons{
	margin-top: 30px;
}
.social-icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #5a5a5a;
	display: inline-block;
	transition: all 0.5s ease;
	}
.social-icons a:hover{
	color: #03e9f4;
	transform: translateY(-5px);
	transition: all 0.5s ease;
}
.contact__btn {
	display: inline-block;
	margin: 50px auto;
	padding: 14px 50px;
	border-radius: 6px;
	font-weight: 400;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.4s ease;
	text-shadow: none;
	text-decoration: none;
	background: #5a5a5a;
	color: #fff;
  }
  .contact__btn::before { 
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: scaleY(0);
	transition: all 0.4s ease;
	width: 100%;
	z-index: -1;
	background-color: #fff;
  }
  .contact__btn:hover { 
	color: #5a5a5a;
	backdrop-filter: blur(40px);
  }
  .contact__btn:hover::before { 
	transform: scaleY(1);
  }
.contact-right form{
	width:95%;
}
.grav__icons{
	font-size: 50px;
}
form input, form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background-color: #ffffff38;
	backdrop-filter: blur(10px);
	padding: 15px;
	margin: 15px auto;
	color: rgb(68, 68, 68);
	font-size: 18px;
	border-radius: 6px;
}
form .btn2{
	
	padding: 14px 60px;
	font-size: 18px;
	margin-top: 20px;
	cursor: pointer;
}
form::after{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #009cc4;
	opacity: 0;
	visibility: hidden;
}
form._sending::after{
	opacity: 1;
	visibility: visible;
}
/*............Container Contact End.................*/

/*............Sticky Start.................*/
.modal{
	position: fixed;
	width: 100%;
	padding: 10px 0;
	z-index: 100;
	
}
.sticky__body{
	max-width: 1250px;
	padding: 0 80px;
	margin: 0 auto; 
	
	
}
.modal .sticky__body{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sticky__info{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #5a5a5a;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
	position: fixed;
	overflow: hidden;
	bottom: 60px;
	cursor: pointer;
	right: 0px;
	z-index: 100;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.sticky__info.sticky{
	opacity: 1;
	right: 50px;
}
.sticky__btn{
	cursor: pointer;
	font-size: 40px;
	color:#fff;
	position: relative;
	left: 15px;
	top: 15px;
	transition: all 0.5s ease 0s;
	
}
.sticky__btn.active::before{
	content: "X";	
	font-size: 35px;
	font-weight: 900;
	position: relative;
	left: 6px;
	top: -1px;
	transition: all 0.5s ease 0s;
}
.arrow__up{
	font-size: 60px;
	color: #5a5a5a;
	position: relative;
	transition: 0.3s ease;
	cursor: pointer;
}
.arrow__up:hover{
	color:#03e9f4;
	transition: all 0.5s ease;
}

/* POPUP */


.popup__body{
	position: absolute;
	width: 150px;
	background-color: #80808062;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.295);
	backdrop-filter: blur(10px);
	border-radius: 15px;
	padding: 30px 25px;
	bottom: 210px;
	right: -50px;
	z-index: 115;

	transition: all 0.5s ease 0s;
}
.popup__body.active {
	right: 230px;
	transition: all 0.5s ease 0s;
}
.popup__content{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.popup__content .box__telegram {
	font-size: 80px;
	margin-top: 10px;
	color: rgb(235, 233, 233);
	transition: all 0.5s ease 0s;
	text-shadow: 0px 2px 2px #00000091;
}
.popup__content .box__telegram:hover {
	color: #5a5a5a;
}
.popup__content-txt {
	font-size: 13px;
	font-weight: 700;
	margin-top: 10px;
	color: #5a5a5a;
	font-family: 'Fred';
}
.popup__content h4{
	font-size: 35px;
	color: rgb(255, 225, 240);
	font-weight: 100;
	font-family:'Neon';
	text-shadow: 0px 2px 2px #00000091;
}
.popup__content span{
	font-family: 'Fred';
	font-size: 18px;
	text-shadow: 0 2px 3px #000000a1 ;
}


  .popup-gallery-2{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #00000062;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.295);
	backdrop-filter: blur(10px);
	top: 0px;
	left: 0;
	z-index: 115;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	
  }
 
  .popup-gallery-2.active{
	opacity: 1;
	visibility: visible;
	transition: all 0.5s ease 0s;
	overflow: auto;
	direction: rtl;
  }
 
  
  .popup-gallery-2 .inside-page__btn-2 {
	color: rgb(255, 255, 255);
	position: absolute;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 50px;
	cursor: pointer;
  }
  
 
  .gallery-2{
	position: relative;
	padding: 45px 0;
	margin: 0 100px;
	transition: all 0.5s ease 0s;
	transform: translate(0px, +30%);
  }
  
  .gallery-2 h2{
	margin-top: 50px;
  }
  
  .gallery-2.active{
	transition: all 0.5s ease 0s;
	transform: translate(0px, 0px);
  }
  
  h2.title{
	font-size: 44px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 45px;
	position: relative;
  }
  h2.title:after{
	content: "";
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: #111111;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
  }

  .popup-gallery-2.active::-webkit-scrollbar {
	width: 15px;
	

  }
  
  .popup-gallery-2.active::-webkit-scrollbar-thumb {
	background-color: #cc0791; /* Цвет ползунка */
	border-radius: 5px;
	border: 2px solid var(--colors);
	
  }
  
  .popup-gallery-2.active::-webkit-scrollbar-thumb:hover {
	background-color: #9a0c70; /* Цвет ползунка при наведении курсора */
  }
  
  
  /* Стилизация трека скролла (для Chrome, Safari и Edge) */
  .popup-gallery-2.active::-webkit-scrollbar-track {
	background-color: var(--colors); /* Цвет трека */
	
  
  }
  
  .popup-gallery-2.active::-webkit-scrollbar-track:hover {
	 /* Цвет трека при наведении курсора */
  }


	.gallery-list{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: 0;
	margin-top: 30px;
  }
  .gallery-item{
	display: block;
	margin: 20px auto;
	border-radius: 20px;
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
  }
  .gallery-item-hover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	color: #ffffff;
	display: flex;
	
	justify-content: center;
	align-items: center;
	font-size: 16px;
	opacity: 0;
	transition: opacity .5s ease;
	z-index: 2;
  }
  .gallery-item:hover .gallery-item-hover{
	opacity: 1;
  }
  .gallery-item:hover img{
	transform: scale(1.3) rotate(5deg);
  }
  .gallery-item img{
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	transition: all .5s ease;
  }
  @media (max-width: 550px){
	.popup-gallery-2 .inside-page__btn-2 {
		position: static;
		order: 1;
	}
	.gallery-2{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.gallery-list{
		order: 2;
	}
  }
  
 

/*............Sticky End.................*/


/*............Footer Start.................*/
.copyright{
	width: 100%;
	text-align: center;
	padding: 25px 0px;
	font-weight: 300px ;
	position: relative;
	background-color: var(--boss);
}
.copyright p{
	padding-left: 200px;
}
/*............Footer End.................*/

@media (max-width: 2000px){
	.content {
		
		padding-left: 350px;
	
		
	}
	.contents{
		
		width: 240px;
		
	}
	
}
@media (max-width: 1450px){
	.content {
		padding-left: 200px;
	}
	.container__row{
		
		flex-direction: column-reverse;
	}
	.contents{
		width: 140px;
	
	}
	.about__block-2{
		margin-bottom: 20px;
	}
	.contact-right{	
		flex-basis: 55%;
	
	}
}
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) { 
	.contact-left p{
		margin: 30px 0;
		font-size: 24px;
	}
	.contact-left{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #ffffff38;
		backdrop-filter: blur(10px);
		border-radius: 20px;
		
	}
	.contact-left{
		
		flex-basis: 100%;
		
	}
	.contact-right{	
		flex-basis: 100%;
	
	}

	.slider .slick-arrow {
	
		top: 9%;
		
	}
	.slider .slick-arrow.slick-prev {
		left: 5%;
	
		transform: scale(2);
	}
	.slider .slick-arrow.slick-next {
		right: 5%;
	
		transform: scale(2);
	}

	.header__body {
	
		padding: 0 40px;
		
	}

	.about__block-1 img{
			max-width: 450px;
			border-radius: 15px;
			
		}

	
.container-right {
	
	width: 100%;
	 
}
.container-right  .photo {
	max-width: 350px;
	height: 400px;
	
	margin-left: 0px;
}
.container-right .photo:hover .cont{
	transform: translateX(30px);
}
 .img-box {
	margin-top: 50px;
	width: 200px;
	height: 200px;
	border: 5px solid rgba(119, 119, 119, 0.25);
}
.container-right .photo .sci {
	position: absolute;
	top: 30px;
	left: 30px;
	flex-direction: column;

	

}
.container-right .photo .sci li{

	margin: 20px auto;
	transform: translateY(300px);

	transition: 0.4s;
	
	transition-delay: calc(0.1s * var(--i)) ;
}
.container-right .photo:hover .sci li{
	transform: translateY(0px);
	
	opacity: 1;
}

.container-left .text-1{
	font-size: 20px;
}
h1 {

    font-size: 55px;
    
}
h1:before{
   
	display: none;

} 
h2 {
    font-size: 55px;
    
}
h2:before{
    
    display: none;
   
} 

.static__card{	
	
	max-width: 400px;
	height: 200px;
	
	margin-top: 20px;
	
}
.static__card .static-txt{
    font-size: 28px;
   
	
}
.static__card .static-txt span{

	font-size: 28px;
	
}
h3{
	margin-top: 110px;

	font-size: 15px;
	
}  

.about__block-2{
	width: 100%;
	height: 100%;
}

.neon{
	overflow: hidden;
	color:#fff;
	position: absolute;
	right: 250px;
	top: 35%;
	font-family:'Josef';
	padding: 15px 20px;
	font-size: 20px;
	z-index: 2;
	letter-spacing: 2px;
	transition: all 0.4s ease;
	text-shadow: 0px 2px 2px #00000091;
	border: 2px solid #fff;
	border-radius: 6px;
}
.myAbout{
	transform: translateY(30px);
}
.myBook{
	transform: translateY(-10px);
}
.sub-title{
	transform: translateY(-40px);
}
}


    @media (max-width: 991px) { 
		
		.myAbout{
			transform: translateY(50px);
		}
		.slider{
		
			padding: 0 10px;
			overflow: hidden;
		}
		.slider__box{
			display: flex;
			align-items: center;
			padding: 80px 20px;
			max-width:150px;
		
		}
		.slider__img{
			width:100%;
			height: 150px;
			
			
		}

		.menu__btn{
			display: block;
			position: relative;
			width: 50px;
			height: 50px;
			
			transition: all 0.3s ease 0.4s;
		
		}
		.mobile__line{
			position: absolute;
			width: 100%;
			height: 4px;
			top: 30%;
			background-color: #ffffffc9;
			transition: 0.3s ease ;
		}
		.mobile__line::after{
			content: '';
			position: absolute;
			width: 40%;
			height: 4px;
			top: 13px;
			transition: 0.3s ease ;
			background-color: #ffffffc9;
		}
		.mobile__line.active::after{
			width: 200%;
		}
		.mobile__line.active{
			width: 50%;
			transition: 0.3s ease ;
			color: #ffffffc9;
		}
		
		.header .menu{
			position: fixed;
			height:100%;
			width: 40%;
			right: -100%;
			top: 0;
			text-align: center;
			background: linear-gradient(to left top,  #7b1e57, #e56a6a) ;
			padding-top: 30px;
			transition: all 0.6s ease;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.header .menu.active{
			right: 0;
			transition: all 0.6s ease;
		}
		.header .menu li{
			display: block;
			transition: all 1s ease ; 
			transform: translateY(-50px);
		}
		.header .menu.active li{
			transition: all 1s ease 1.2s; 
			
		}
		.header .menu li a::after{
			content: '';
			width: 0%;
			height: 2px;
			background: #ffd829;
			position: absolute;
			left: 0%;
			bottom: 13px;
			transition: 0.4s;
			border-radius: 5px;
			z-index: 2;
			
		}
		.header .menu li a {
			display: inline-block;
			margin: 15px 0;
			font-size: 25px;
			
		}
		.header .menu li a:hover{
		color:#ffd829;
		}

		.container-right  .photo {
			max-width: 0px;
		
			background-color: transparent;
			box-shadow: none;
			height: 200px;
			margin-bottom: 400px;
			margin-right: 50px;
		}
		h4{
			display: none;
		}
		.cont{
			transform: translateX(-20px);
		}
		.container-right .photo:hover .cont{
			transform: translateX(-20px) scale(1.1);
		}
		.img-box {
			
			width: 150px;
			height: 150px;
			
		}
		
		.container-right .photo .sci {
		
			top: 330px;
			right: 0;
			overflow: visible;
		
		}
		.container-right .photo .sci li{
		
			margin: 15px auto;
			transform: translateY(0px);
		
			transition: 0.4s;
			
			transition-delay: calc(0.1s * var(--i)) ;
		}
		.container-right .photo:hover .sci li{
			transform: translateY(10px);
			
			opacity: 1;
		}
	
		.container__about{
			
			margin: 20px auto;
			
		
			
		}
		
		.about__block-1{
			margin-right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
			
		}
		.about__block-1 img{
			max-width: 350px;
			
			
		}
		.about__block-2 p{
			font-size: 19px;
		}
		
		.pen__icons{
			
			font-size: 45px;
			
		} 
		
		.tab-contents ul li span{
		
			font-size: 15px;
		
		}
		.container__txt h2{
			font-size: 48px;
			transform: translateY(10px);
		}
	}
		/* ABOUT------------------------------ */


/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) { 
		.mask{
			display: none;
		}
		.loading{
			display: none;
		}
		.copyright p{
			padding-left: 0px;
		}
		.contents.sticky {
			opacity: 0;
			z-index: 100;
			left: -300px;
		}
		.content {
		
			padding-left: 0px;
			padding: 0 18px;
			
		}
		.fullscrin {
			position: relative;
			top: 0;
		
		}
		.full__container{
			position: relative;
			top: 0;
			
		}
		.container__wrapper{
			height:100%;
		
			
			padding: 20px 80px;
		
			margin-top: 0px;
			position: relative;
		}


		
		.slick-next:before{
			display: none;
		}
		
		.slick-prev:before{
			display: none;
		}
		.container-right .photo .sci {
		
			bottom: 0px;
			overflow: visible;
		}
		.container-right .photo .sci li{
	
			margin: 10px auto;
			transform: translateY(30px) translateX(-30px);
		
			opacity: 1;
			transition-delay: calc(0.1s * var(--i)) ;
		}
		.container-right .photo:hover .sci li{
			transform: translateY(30px) translateX(-30px);
			opacity: 1;
		}
		.container__moments{
			height: 100%;
			
			
		}
		.cards-section{
			flex-direction: column;
			transform: translateY(-70px);
		}
		.cards-2{
			margin: 70px auto;
		}
		.container__txt h2{ 
			font-size: 40px;
			margin: 15px auto;
		}
		.projects__title{
			margin: 0 auto;
		
			
		}
		.pizza__icons{
			font-size: 10px;
			transform: translateX(10px);
		}
		.projects__title .text-1{
			display: none;
		}
		.wp{
			display: none;
		}
		.projects__title h2{
			order: -1;
			
		}

.container-left .text-1{
	font-size: 20px;
}
h1 {
	z-index: 3;
    font-size: 55px;
    
}
h1:before{
   
    line-height: 10px;

} 
h2 {
    font-size: 55px;
    z-index: 3;
}

h2:before{
    
    line-height: 10px;
   
} 


.static__card{	
	
	max-width: 350px;
	height: 170px;
	
	
}
.static__card .static-txt{
    font-size: 27px;
   
	
}
.static__card .static-txt span{

	font-size: 27px;
	
}
h3{
	margin-top: 95px;

	font-size: 14px;
	
}  


.pen__icons::before{
	display: none;
}



.neon{
	
	right: 230px;
	top: 38%;
	
	padding: 10px 15px;
	font-size: 16px;
	
}
	.contact-left{
		position: relative;
		flex-basis: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		
	}
	.projects__cards .projects__title{
		text-align: center;
	}
	.contact-right{	
		flex-basis: 100%;
		
	}
	.sticky__body{
		max-width: 1250px;
		padding: 0 0px;
		border: 1px solid #000;
		margin: 0 auto; 
		position: relative;
	}
	.sticky__info{
		width: 42px;
		height: 42px;
		
		bottom: 70px;
		right: 5%;
		display: flex;
		justify-content:center;
		align-items: center;
		z-index: 100;
		opacity: 0;
		transition: all 0.5s ease-in-out;
	}
	.sticky__info.sticky{
		
	
	}
	.sticky__btn{
		
		font-size: 25px;
		
		position: static;
	
		
	}
	.sticky__btn.active::before{
		content: "X";	
		font-size: 25px;
		
		position: static;
	
	}
	
	.arrow__up{
		font-size: 40px;
		left: 10px;
	}
	.arrow__up.sticky{
		
		bottom: 130px;
	}
	.popup__body{
		bottom: 150px;
		right: -200px;
	}
	.popup__body.active{
		right: 35px;
		background-color: #5a5a5a;
	}
	.popup__content-txt{
		color: #fff;
		font-weight: 200;
		letter-spacing: 2px;
	}
	}
/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 580px) { 
		.container__wrapper{
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 80px 0;
			max-height: 600px;
		}
		.container-right{
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		
		}
		.container-right .photo {
			max-width: 250px;
		
			box-shadow: none;
			margin-top: 20px;
			pointer-events: none;
			margin-bottom: 0px;
			margin-right: 0px;
		}
		.container-right .photo .cont{
			transform: translate(0);
			
		}
		 .img-box {
			display: none;
		}
		.container-right .photo .sci{
			margin: 10px auto;
			
			position: static;
	
		
			flex-direction: row;
			max-width: 200px;
			height: 50px;
			pointer-events: none;
			align-items: center;
			justify-content: center;
			padding: 0;
		}
		.container-right .photo .sci li {
			margin: 10px auto;
			transform: translateY(0px) translateX(0px);
			opacity: 1;
			transition-delay: calc(0.1s * var(--i));
			pointer-events: none;
		}


		.container-left{
			padding: 0 ;
		
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			max-width: 360px;
		}
		.text-1 {
			margin-left: 0;
			margin-top: 10px;
		}
		.container-left__title h1, h2{
			font-size: 40px;
		}
	
		.neon {
		right: 28%;
		top: 38%;
		padding: 10px 15px;
		font-size: 16px;
		}





		.header .menu{
		
			width: 60%;
			
		}
		.about__block-1 img{
			width: 120%;
		}
		.pen__icons::before{
			display: none;
		}
		.tab-titles{
			flex-direction: column;
		}
		.tab-links{
			margin-bottom: 20px;
		}
		.container__moments{
			display: none;
		}
		.header__body{
			display: flex;
		}
		.logo{
			order: -2;
			
		}
		.slider{
		
			padding: 0 10px;
			overflow: hidden;
		}
		.slider__box{
			display: flex;
			align-items: center;
			padding: 60px 10px;
			padding-bottom: 80px;
			max-width:150px;
		
		}
		
		.slider__img{
			width:100%;
			height: 120px;
			
			
		}
		.grav__icons::before{
			
			
		}
		.fa-paper-plane::before{
			display: none;
		}
		.social-icons a{
			font-size: 26px;
		}
		.contact-left h2{
			font-size: 50px;
		}
		.copyright p{
			font-size: 16px;
		}

		.popup {

			bottom: 40px;
			
		}
		.popup__body{
		
			width: 120px;
		
			
			transition: all 0.5s ease 0s;
		}
		.popup__content span{
			font-size: 17px;
		}
		.popup__content .box__telegram{
			font-size: 55px;
		}
		.contact-left .contact__btn{
			padding: 15px;
		}
		.static__card{
			max-width: 300px;
			padding: 15px 10px;
		}
		.static__card .static-txt {
			font-size: 22px;
		}
		.static__card .static-txt span {
			font-size: 22px;
		}
		.contact__block{
			padding: 0 10px;
		}
		.contact__row{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}
		.contact-left{
			width: 400px;
			
			
		
		}
		.contact-left .sub-title{
			font-size: 38px;
			transform: translateY(-30px);
		}
			.contact-left p{
				font-size: 18px;
				text-align: center;
			}
	}
	@media(max-width:460px){
		.contact-left{
			width: 100%;
		}
			.slider{
				display: none;
			}
			.slider__button{
				display: none;
			}
			.book-adaptive{
				display: block;
				background-color: #ffffff38;
				backdrop-filter: blur(10px);
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				padding: 10px 0;
			}
			.book-adaptive .slider__button{
				display: block;
			}
			.book-adaptive__img{
				margin: 30px auto;
				max-width: 200px;
				border-radius: 20px;
			}
		
	
	}
		
	